.button {
  width: 4vw;
  height: 4vw;
  display: inline-block;
  border-style: dotted;
  border-radius: 2px;
  margin: 2px;
  padding: 0px;
}

.row {
  clear: both;
}

#game {
  padding-left: 1vw;
  padding-top: 1vh;
}
